{
  "plugins": ["prettier-plugin-astro", "prettier-plugin-css-order"],
  "cssDeclarationSorterOrder": "concentric-css",
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
