{
  "plugins": [
    "prettier-plugin-astro",
    "prettier-plugin-css-order",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindStylesheet": "./src/styles/global.css",
  "cssDeclarationSorterOrder": "concentric-css",
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}