@import "tailwindcss";
@plugin '@tailwindcss/typography';

.sans {
  font-family: "Inclusive Sans", sans-serif;
}

.monospace {
  font-style: normal;
  font-weight: 400;
  font-family: "Instrument Serif", serif;
  @apply leading-tight tracking-wide;
}

.code {
  font-size: 16px;
  font-family: "Anonymous Pro", monospace;
  @apply leading-tight tracking-tight;
}

p {
  @apply max-w-[70ch] text-pretty;
}

a {
  @apply underline;
}

a:hover {
  @apply cursor-pointer text-[blue] no-underline before:content-['(('] after:content-['))'];
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
    cursor: grabbing;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
