@import "tailwindcss";
@plugin '@tailwindcss/typography';

:root {
  --accent-color: blue;
  --grid-color: rgba(0, 0, 0, 0.5);
}

body {
  background-position: 15px 15px;
  background-size: 6vw 6vw;
  background-attachment: fixed;
  min-height: 100dvh;
}

html,
body {
  overflow-x: hidden;
  font-size: 16px;
  line-height: 1.25;
  font-family: "Be Vietnam Pro", sans-serif;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

img,
video {
  width: 100%;
}

img.dithered {
  filter: contrast(120%) brightness(90%) grayscale(100%);
  image-rendering: pixelated;
}

.sans {
  font-family: "Inclusive Sans", sans-serif;
  font-optical-sizing: auto;
}

.monospace {
  font-style: normal;
  font-weight: 400;
  font-family: "Instrument Serif", serif;
  @apply leading-tight tracking-wide;
  font-optical-sizing: auto;
}

.code {
  font-family: "Source Code Pro", monospace;
  @apply leading-snug tracking-tight;
  font-optical-sizing: auto;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
    cursor: grabbing;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .heading1 {
    font-weight: normal;
    font-size: clamp(1.5rem, 2vw + 1rem, 2vw + 1rem);
    @apply leading-[95%] font-semibold tracking-tighter;
  }

  .heading3 {
    font-weight: normal;
    font-size: clamp(1rem, 1vw + 1rem, 1vw + 1rem);
  }

  .body1 {
    font-size: 16px;
    @apply leading-[110%] tracking-tight;
  }

  .body2 {
    font-size: clamp(14px, 1vw, 16px);
    @apply leading-[95%] tracking-tight;
  }

  .linkout::after {
    content: " ↗";
    font-size: 0.8em;
  }

  .x1-card {
    width: 20vw;
    min-width: 150px;
  }

  .x2-card {
    width: 30vw;
    min-width: 250px;
  }

  .x3-card {
    width: 40vw;
    min-width: 250px;
  }

  @media (max-width: 767px) {
    .x1-card,
    .x2-card,
    .x3-card {
      width: 100%;
    }
  }

  .menu-textsize {
    font-size: clamp(2rem, 6vw, 6vw);
  }
}

.responsive-title {
  font-size: 1rem;
}

.body-text {
  font-size: 1rem;
}

.no-before-after::before,
.no-before-after::after {
  content: none !important;
}

.tag-button {
  opacity: 0.2;
}

.tag-button.active {
  opacity: 1;
}

.news-item::before {
  padding-right: 0.5em;
  content: var(--index);
}

.fade-in {
  opacity: 0;
}

.subtitle {
  @apply mb-4 font-semibold uppercase underline underline-offset-4;
}
