@import "tailwindcss";
@plugin '@tailwindcss/typography';

main {
  background: white;
}

nav {
  background: white;
}

footer {
  background: white;
}

body {
  background: white;
  min-height: 100dvh;
}

img.dithered {
  filter: contrast(120%) brightness(90%) grayscale(100%);
  image-rendering: pixelated;
}

.sans {
  font-family: "Inclusive Sans", sans-serif;
}

.monospace {
  font-style: normal;
  font-weight: 400;
  font-family: "Instrument Serif", serif;
  @apply leading-tight tracking-wide;
}

.code {
  font-size: 16px;
  font-family: "Source Code Pro", monospace;
  @apply leading-snug tracking-tight;
}

p {
  @apply max-w-[70ch] text-pretty;
}

a {
  @apply underline underline-offset-3;
}

a:hover {
  @apply cursor-pointer text-[blue] no-underline;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
    cursor: grabbing;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.responsive-title {
  font-size: clamp(1.5rem, 2vw + 1rem, 3rem);
}

.no-before-after::before,
.no-before-after::after {
  content: none !important;
}

.tag-button {
  opacity: 0.2;
}

.tag-button.active {
  opacity: 1;
}

.news-item::before {
  padding-right: 0.5em;
  content: var(--index);
}
