---
import { getCollection } from "astro:content";
import BlogPost from "@/layouts/BlogPost.astro";
import ClassPost from "@/layouts/ClassPost.astro";
import { render } from "astro:content";

export async function getStaticPaths() {
  const workPosts = await getCollection("work");
  const classPosts = await getCollection("classes");

  const allPosts = [...workPosts, ...classPosts];

  return allPosts
    .filter((post) => post.data.archived === false)
    .map((post) => ({
      params: { slug: post.id },
      props: { ...post, collection: post.collection },
    }));
}

const post = Astro.props;
const { Content } = await render(post);
---

{
  post.collection === "work" ? (
    <BlogPost {...post.data}>
      <Content />
    </BlogPost>
  ) : post.collection === "classes" ? (
    <ClassPost {...post.data}>
      <Content />
    </ClassPost>
  ) : (
    <div>
      <p>Unrecognized collection: {post.collection}</p>
      <Content />
    </div>
  )
}
