---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
import { Image } from "astro:assets";
import profile from "@/assets/profile.jpg";
import Content from "@/docs/about-munus.md";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={`About: ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section class="two-columns">
        <div><Image src={profile} alt="A description of my image." /></div>
        <div class="pretty max-text-width about-bio">
          <button class="email monospace" id="emailButton"
            >munusshih@gmail.com</button
          >
          <p id="copyMessage">Email copied to clipboard!</p>
          <Content />
        </div>
      </section>
      <Footer />
    </main>
    <script src="../scripts/copyEmail.js"></script>
  </body>
</html>
