---
import BasicLayout from "@/layouts/Basic.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
import { Image } from "astro:assets";
import profile from "@/assets/profile.jpg";
import Content from "@/docs/about/about-munus.md";
import Clout from "@/docs/about/clout.md";
import FullListCard from "@/components/cards/FullListCard.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
---

<BasicLayout
  title={`About — ${SITE_TITLE}`}
  description={SITE_DESCRIPTION}
  image={`/thumbnails/about.jpg`}
>
  <main class="p-[var(--page-margin)]">
    <section
      class="mt-10 grid auto-cols-min auto-rows-min grid-cols-1 gap-0 pb-20 lg:grid-cols-2"
    >
      <article
        class="heading2 fade-in flex flex-col gap-4 prose-p:indent-[2em] prose-p:text-pretty prose-p:first-of-type:indent-[6em] prose-a:italic"
      >
        <Content />
      </article>
      <div
        class="heading2 fade-in mt-20 lg:mt-0 lg:text-right prose-li:font-bold"
      >
        <Clout />
      </div>
    </section>
    <section class="fade-in">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <FullListCard title="Upcoming Events" />
          </div>
          <div class="swiper-slide">
            <FullListCard title="Talks" />
          </div>
          <div class="swiper-slide">
            <FullListCard title="Teaching" />
          </div>
          <div class="swiper-slide">
            <FullListCard title="Workshop" />
          </div>
          <div class="swiper-slide">
            <FullListCard title="Featured" />
          </div>
          <div class="swiper-slide">
            <FullListCard title="Press" />
          </div>
        </div>
      </div>
    </section>
  </main>
</BasicLayout>
<script>
  import Swiper from "swiper";
  import { Autoplay } from "swiper/modules";
  import "swiper/css";
  let swiperInstance = null;

  function initSwiper() {
    if (window.matchMedia("(min-width: 768px)").matches) {
      if (!swiperInstance) {
        swiperInstance = new Swiper(".swiper", {
          modules: [Autoplay],
          slidesPerView: "auto",
          grabCursor: true,
          loop: true, // Enable loop for seamless swiping
          autoplay: {
            delay: 10000,
            disableOnInteraction: true,
          },
        });
      }
    } else {
      if (swiperInstance) {
        swiperInstance.destroy(true, true);
        swiperInstance = null;
      }
    }
  }

  window.addEventListener("load", initSwiper);
  window.addEventListener("resize", initSwiper);
</script>

<style>
  .swiper-slide {
    display: flex;
    width: 30vw;
    min-width: 300px;
    max-width: 800px;
    height: max-content;
    overflow: hidden;
  }

  @media (max-width: 768px) {
    .swiper-slide {
      width: 100%; /* Full width on mobile */
    }
  }

  .swiper-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px; /* Adjust gap as needed */
  }

  @media (max-width: 768px) {
    .swiper-wrapper {
      flex-direction: column; /* Change to column layout on mobile */
    }
  }
</style>
