<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Calendar - Munus Shih</title>
    <style>
      html,
      body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow: hidden; /* prevent double scroll, optional */
      }
      iframe {
        display: block;
        border: none;
        width: 100vw;
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <iframe
      src="https://calendar.google.com/calendar/appointments/AcZssZ3YqmiU-b4XE1iQXelqxuYRQxyQ80I0C7yomFo=?gv=true"
      allowfullscreen
      scrolling="yes"></iframe>
  </body>
</html>
