---
import BaiscLayout from "@/layouts/Basic.astro";
import Column from "@/components/Column.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
---

<BaiscLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main class="grid grid-cols-1 gap-0 md:grid-cols-2 lg:grid-cols-3">
    <Column title="Selected Work" data="work" />
    <Column title="Teaching & Examples" data="teaching" />
    <Column title="Writing, Talks & Press" data="press" />
    <!-- <Column title="work" /> -->
    <!-- <Column title="work" /> -->
    <!-- <Column title="research"
        ><Card /><Card /><Card /><Card /><Card /><Card /><Card /></Column
      >
      <Column title="writing "><Card /><Card /><Card /><Card /><Card /></Column> -->
  </main>
</BaiscLayout>
