---
import BasicLayout from "@/layouts/Basic.astro";
import Column from "@/components/Column.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
---

<BasicLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main class="grid grid-cols-1 gap-0 lg:grid-cols-3">
    <Column title="Selected Projects" data="work" />
    <Column title="Teaching & Open Source Contribution" data="teaching" />
    <Column title="Selected Writing, Talks & Press" data="press" />
  </main>
</BasicLayout>
