---
import Card from "@/components/Card.astro";
const { title, data } = Astro.props;
const content = await import(`../docs/${data}.yml`);
const posts = content.default;
const number = posts.length;
---

<details
  class="group fade-in border-gray-400 pr-4 pl-4 last-of-type:border-0 md:first-of-type:border-r lg:border-r"
  open
>
  <summary
    class="monospace mb-2 flex cursor-pointer flex-row items-center pt-2 text-2xl !font-medium"
  >
    <h2>{title}</h2>
    <sup class="ml-2 text-base font-normal no-underline">({number})</sup>
    <span
      class="monospace ml-auto text-5xl transition-transform duration-200 group-open:rotate-180"
    >
      <span class="group-open:hidden">+</span>
      <span class="hidden group-open:inline">–</span>
    </span>
  </summary>

  <div class="no-scrollbar flex flex-col gap-4 border-t">
    {posts.map((post) => <Card post={post} />)}
  </div>
</details>
