---
import Card from "@/components/Card.astro";
const { title, data } = Astro.props;
const content = await import(`../docs/${data}.yml`);
const posts = content.default;
const number = posts.length;
---

<details class="group fade-in" open>
  <summary
    class="flex cursor-pointer flex-row items-center justify-center border-b px-[var(--page-margin)] py-2 group-open:border-0"
  >
    <h2 class="text-2xl text-[var(--accent-color)] uppercase">{title}</h2>
    <span class="ml-auto text-2xl transition-transform duration-200">
      <span class="group-open:hidden">Open</span>
      <span class="hidden group-open:inline">Close</span>
    </span>
  </summary>

  <div class="no-scrollbar grid grid-cols-2 flex-col border-t">
    {posts.map((post) => <Card post={post} />)}
  </div>
</details>
