---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav>
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <HeaderLink href="/">Work</HeaderLink>
      <HeaderLink href="/lab">Lab</HeaderLink>
      <HeaderLink href="/chronology">Chronology</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
  </nav>
</header>
<style>
  header {
    background: white;
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav a {
    border-bottom: 4px solid transparent;
    color: var(--black);
    text-decoration: none;
    text-transform: uppercase;
  }
</style>
