---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav>
    <h2 class="site-title gsap-element" ">{SITE_TITLE}</h2>
    <div class="internal-links">
      <HeaderLink href="/" class="gsap-element">Work</HeaderLink>8
      <HeaderLink href="/lab" class="gsap-element">Lab</HeaderLink>20
      <HeaderLink href="/chronology" class="gsap-element">Chronology</HeaderLink
      >20-20
      <HeaderLink href="/about" class="gsap-element">About</HeaderLink>
    </div>
  </nav>
</header>
<style>
  header {
    margin-top: 1rem;
    background: white;
  }

  header .site-title {
    transition: font-size 0.5s;
    font-weight: 100;
    font-size: clamp(2rem, 6vw, 6vw);
    line-height: 1;
    font-family: "Young Serif", serif;
    letter-spacing: -0.05em;
  }

  .internal-links a {
    transition: font-size 0.5s;
    font-size: clamp(2rem, 6vw, 6vw);
    line-height: 1;
    letter-spacing: -0.05em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  nav a {
    border-bottom: 4px solid transparent;
    color: rgba(var(--black));
    text-decoration: none;
  }

  .internal-links a:hover {
    color: var(--accent);
  }

  nav .internal-links {
    display: flex;
    column-gap: 1em;
    row-gap: 0em;
    flex-wrap: wrap;
  }
</style>
