---
import { marked } from "marked";

const markdown = `
_Footnote:_ This website was intentionally hand-coded using HTML, CSS (Tailwind), and vanilla JavaScript in [Astro](https://astro.build/).
All the texts are set in [Inclusive Sans by Olivia King](https://fonts.google.com/specimen/Inclusive+Sans), [Source Code Pro by Paul D. Hunt](https://fonts.google.com/specimen/Source+Code+Pro) and [Instrument Serif by Rodrigo Fuenzalida and Jordan Egstad](https://fonts.google.com/specimen/Instrument+Serif).
`;

const html = marked(markdown);
---

<footer client:load class="bg-white px-2 py-2">
  <div class="body-text flex flex-row flex-wrap justify-between">
    <div class="heading3">
      &copy; Munus Shih <span id="date"></span>
    </div>
    <div id="emailButton" class="heading3 cursor-pointer">
      <a>munusshih@gmail.com</a>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const date = new Date().getFulldate();
      document.getElementById("date").textContent = date;

      document
        .getElementById("emailButton")
        .addEventListener("click", function () {
          const email = this.querySelector("a");

          navigator.clipboard
            .writeText(email.textContent)
            .then(() => {
              const originalText = email.textContent;
              email.textContent = "Copied!";

              setTimeout(() => {
                email.textContent = originalText;
              }, 2000);
            })
            .catch((err) => {
              console.error("Failed to copy text: ", err);
            });
        });
    });
  </script>
</footer>
