---
import HeaderLink from "./HeaderLink.astro";
import HeroSketch from "@/components/global/HeroSketch.astro";
import { SITE_DESCRIPTION, SITE_TITLE, NEWS } from "@/consts";

import { marked } from "marked";

const base = import.meta.env.BASE_URL;
const currentPage = Astro.url.pathname; // Get the current page's pathname
---

<header
  class="body1 fade-in fixed top-0 z-10 w-full bg-white px-[var(--page-margin)] py-4 pt-[var(--page-margin)] md:pt-4 2xl:py-6"
>
  <input type="checkbox" id="nav-toggle" class="peer hidden" />

  <div class="flex flex-row items-center justify-between">
    <h1 class="heading2 font-bold tracking-tight">
      <a href="/" class="!no-underline hover:text-gray-400">Munus Shih</a>
    </h1>

    <label for="nav-toggle" class="heading2 z-50 cursor-pointer"> Menu </label>
  </div>

  <nav
    class="pointer-events-none absolute inset-0 z-[999] flex h-screen w-full flex-col items-center justify-center bg-black text-white opacity-0 transition-all duration-300 peer-checked:pointer-events-auto peer-checked:opacity-100"
  >
    <ul class="menu-textsize flex flex-col items-center justify-center gap-4">
      <li><a href="/" class="!no-underline hover:text-gray-400">Home</a></li>
      <li>
        <a href="/about" class="!no-underline hover:text-gray-400">About</a>
      </li>
      <li>
        <a href="/work" class="!no-underline hover:text-gray-400">Work</a>
      </li>
      <li>
        <a href="/lab" class="!no-underline hover:text-gray-400">Laboratory</a>
      </li>

      <label
        for="nav-toggle"
        class="heading2 absolute top-[var(--page-margin)] right-[var(--page-margin)] cursor-pointer hover:text-gray-400"
      >
        Close
      </label>
    </ul>
  </nav>
</header>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const navToggle = document.querySelector("#nav-toggle");

  const header = document.querySelector("header");

  ScrollTrigger.create({
    start: 0,
    end: "max",
    onUpdate: ({ direction, scroll }) => {
      if (navToggle.checked) return;

      const yTarget = direction === -1 ? 0 : -header.offsetHeight;
      gsap.to(header, {
        y: yTarget,
        duration: 0.5,
        ease: "power2.out",
        overwrite: "auto",
      });

      header.classList.toggle("shadow-md", scroll() > 0);
    },
  });
</script>
